.container {
  width: 500px;
  height: 500px;
}

.dial-board {
  background-image: url('images/dial-board.png');
  background-size: 500px;
  height: 500px;
}

.dial-pointer {
  position: relative;
  height: 70px;
  width: 55px;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -28px;
}

.selected {
  color: red;
}

.already-selected {
  color: lightgray;
}

.never-selected {
  color: green;
}

.speaker {
  position: absolute;
  z-index: 1;
  font-size: 25px;
}

.footer {
  margin-top: 25px;
  text-align: center;
}

.speaker-select {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  font-size: 13px;
}

.move {
  transition-duration: 0.7s;
  transition-property: transform;
}

.idle {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes mover {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
